<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./calendar.css">
    <title>Calendar</title>
</head>
<body>
    

    <div class="panel">
        <div class="schedule">
          <div class="schedule-header">
            <div class="schedule-legend"></div>
            <div class="schedule-col">lundi</div>
            <div class="schedule-col">mardi</div>
            <div class="schedule-col">mercredi</div>
            <div class="schedule-col">jeudi</div>
            <div class="schedule-col">vendredi</div>
          </div>
          <div class="schedule-body--helper">
            <div class="schedule-body">
              <div class="schedule-legend">
                <div class="schedule-legend--row">0h</div>
                <div class="schedule-legend--row">1h</div>
                <div class="schedule-legend--row">2h</div>
                <div class="schedule-legend--row">3h</div>
                <div class="schedule-legend--row">4h</div>
                <div class="schedule-legend--row">5h</div>
                <div class="schedule-legend--row">6h</div>
                <div class="schedule-legend--row">7h</div>
                <div class="schedule-legend--row">8h</div>
                <div class="schedule-legend--row">9h</div>
                <div class="schedule-legend--row">10h</div>
                <div class="schedule-legend--row">11h</div>
                <div class="schedule-legend--row">12h</div>
                <div class="schedule-legend--row">13h</div>
                <div class="schedule-legend--row">14h</div>
                <div class="schedule-legend--row">15h</div>
                <div class="schedule-legend--row">16h</div>
                <div class="schedule-legend--row">17h</div>
                <div class="schedule-legend--row">18h</div>
                <div class="schedule-legend--row">19h</div>
                <div class="schedule-legend--row">20h</div>
                <div class="schedule-legend--row">21h</div>
                <div class="schedule-legend--row">22h</div>
                <div class="schedule-legend--row">23h</div>
              </div>
              <div class="schedule-col"> 
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell disabled">
                  <div class="reservation-container"> 
                    <div class="reservation-content">
                      <div class="block">Salut</div>
                    </div>
                  </div>
                </div>
                <div class="schedule-cell disabled"></div>
                <div class="schedule-cell disabled"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"> </div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"> </div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
              </div>
              <div class="schedule-col"> 
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"> </div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
              </div>
              <div class="schedule-col"> 
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"> </div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
              </div>
              <div class="schedule-col"> 
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"> </div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
              </div>
              <div class="schedule-col"> 
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"> </div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
                <div class="schedule-cell"></div>
              </div>
            </div>
          </div>
        </div>
      </div> 
</body>
</html>