<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/confirmation.css">
    <title>Confirmation - Reservation</title>
</head>
<body>
    <section> 
        <div class="card">
            <div class="inner">
               <div class="info">
            <h2>Your Reservation is complete!</h2>
              <p>ROSA Restaurant are ready to welcome you and your guest for lunch. It will be a perrrfect afternoon. </p>
              </div>
             
          </div>
            <div class="icon-space">
            <img src="./images/download.jpg"/>
          </div>
        </div>
        
        <button><a href="/booking">another reservation</a></button>
        </section>        
</body>
</html>