<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Vocall Center">
    <meta name="author" content="A.K.">
    <link rel="shortcut icon" href="/logo/logo vocall center.jpg" />
    <title>Contactez-nous</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<!-- Custom CSS -->
<link rel="stylesheet" href="/css/contact.css" type="text/css">

<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a href="/"><img src="/logo/image.png" height="70px" style="margin-left: 80px;"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown block-lang-dropdown show">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown"
                    aria-expanded="true">
                    EN
                </a>
                <div class="dropdown-menu" style="background-color: #2b2b2b;" aria-labelledby="dropdown09"><a href="/fr"
                        class="language-link dropdown-item text-white" hreflang="fr">FR</a>
                </div>
            </li>
        </ul>
    </div>
</nav>


<div class="jumbotron">
    <div class="container-fluid">
        <div class="header-content-inner" style="margin-top: 200px;">
            <h1>La Roche Leroy, votre restaurant...</h1>
        </div>
    </div>
</div>

<body>

  <div class="container"  style="margin-top: 50px; margin-bottom: 50px; ">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">                        
          <h2 class="form-title" style="color: #182c39;">Contactez-nous</h2>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <form id="contact-form" name="myForm" class="form" action="#" onsubmit="return validateForm()" method="POST" role="form">

                <div class="form-group">
                    <label class="form-label" id="nameLabel" for="name"></label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nom" tabindex="1">
                </div>

                <div class="form-group">
                    <label class="form-label" id="emailLabel" for="email"></label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" tabindex="2">
                </div>

                <div class="form-group">
                    <label class="form-label" id="subjectLabel" for="sublect"></label>
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Objet" tabindex="3">
                </div>

                <div class="form-group">
                    <label class="form-label" id="messageLabel" for="message"></label>
                    <textarea rows="6" cols="60" name="message" class="form-control" id="message" placeholder="Message" tabindex="4"></textarea>                                 
                </div>

                <div class="text-center margin-top-25">
                    <button type="submit" class="btn rounded btn-mod btn-border btn-large">Envoyer</button>
                </div>

            </form><!-- End form -->
          
        </div><!-- End col -->

    </div><!-- End row -->
    
  </div><!-- End container -->
  
<footer class="-bg-footer" id="footer">
    <div class="container-fluid">
        <div class="row footer-align">
            <div class="col-md-4 col-sm-4">
                <h5>Northstreet</h5>
                <hr class="hr-foot">
                <div class="footer-items">
                    <p class="footer">
                        The EU-27 has an estimated 1.6m businesses involved in 'accommodation and food services', more than 75% of which are small and medium enterprises.
                    </p>
                    <ul class="social-networks">
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5>Our contact</h5>
                <hr class="hr-foot">
                <div class="footer-items">
                    <address>
                            22, Northstreet Road
                            <br>
                            Melbourne, Victoria
                            <br>
                            Australia
                            <br>
                            <i class="fa fa-phone address"></i> +091 1234 5678
                            <br>
                            <i class="fa fa-fax address"></i> +876 5432 1234
                            <br>
                            <i class="fa fa-envelope address"></i> <a href="mailto:northstreet@gmail.com">LaRocheLeRoyRestaurant@gmail.com</a>
                    </address>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h5>Open hours</h5>
                <hr class="hr-foot">
                <div class="footer-items">
                    <ul>
                        <li>Mon-Fri: 08:00-22:00</li>
                        <li>Sat : 09:00-22:00</li>
                        <li>Sun : 09:00-16:00</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a class="to-top" title="toTop">
        <i class="fa fa-chevron-up"></i>
    </a>
</footer>

<div class="footer-copyright">
    <p>&copy 2021© Copyright by
        <a href="https://github.com/anttnew"> Smart Concept Group</a>
    </p>
</div>

</body><!-- End body -->


<!-- Add your site or application content here -->
<script src="http://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
    </script>
<script src="/js/contact.js"></script>
<script src="/js/client.js"></script>
