<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/plat.css">
    <script src="./js/plat.js"></script>
    <title>Dessert</title>
</head>
<body>
    <div class="container">
        <div class="liste-atelier2"><!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail">
        <div class="photo" style="text-align: left;"><img alt="" src="./images/cheese-cake.jfif" style="float: none;" /></div>
        <div class="text">
        <h2>cheese Cake</h2>
        <span class="duree">Time : 1h </span>
        <p class="desc-ate">Complete salad, made of eggs, some salad leaves, some croutons of bread, small potatoes, slices of parma ham, fruity cheese, salt and pepper, oil and vinegar</p>
        </div>
        <div class="btn-next">1500 FCFA</div>
        </div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible pour l'atelier lampe</h2>
        <a href="31821113481" class="item-date">MARDI 29 AOUT - 19h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail">
        <div class="photo" style="text-align: left;"><img alt="" src="./images/3mousse_de_creme-aux-fruits-rouges2.jpg" style="float: none;" /></div>
        <div class="text">
        <h2>Fruit cream mousse</h2>
        <span class="duree">Time : 1h </span>
        <p class="desc-ate">Fruit salad made from banana, pineapple, mango, strawberries, orange, apple, cinnamon, vanilla, syrup, powdered sugar, water.</p>
        </div>
        <div class="btn-next">1000 FCFA</div>
        </div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible</h2>
        <a href="39360622729" class="item-date">MARDI 29 AOUT - 19h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail">
        <div class="photo" style="text-align: left;"><img alt="" src="./images/recette-e23199-banana-cake-sans-sucre.jpg" style="float: none;" /></div>
        <div class="text">
        <h2>Banana Cake</h2>
        <span class="duree">Time : 1h </span>
        <p class="desc-ate">Salad of fresh vegetables cooked in salted water and seasoned with mayonnaise.</p>
        </div>
        <div class="btn-next">1500 FCFA</div>
        </div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible</h2>
        <a href="35666355721" class="item-date">SAMEDI 5 AOUT - 14h</a> <a href="42347617097" class="item-date">MARDI 22 AOUT - 19h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
    </div> 
    </div>       
</body>
</html>