<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/plat.css">
    <script src="./js/plat.js"></script>
    <title>Main Menu</title>
</head>
<body>
    <div class="container">
        <div class="liste-atelier2"><!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail">
        <div class="photo" style="text-align: left;"><img alt="" src="./images/ERU.jpg" style="float: none;" /></div>
        <div class="text">
        <h2>Water fufu and Eru</h2>
        <span class="duree">Time : 1h </span>
        <p class="desc-ate">Traditional Cameroon food from southwestern cameroon made with a leaf sauce with red oil accompanied by a fufu.</p>
        </div>
        <div class="btn-next">3000 FCFA</div>
        </div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible pour l'atelier lampe</h2>
        <a href="31821113481" class="item-date">MARDI 29 AOUT - 19h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail">
        <div class="photo" style="text-align: left;"><img alt="" src="./images/Taro.jfif" style="float: none;" /></div>
        <div class="text">
        <h2>Taro</h2>
        <span class="duree">Time : 1h </span>
        <p class="desc-ate">Traditional west Cameroon food made from milled Taro with yellow sauce and meat.</p>
        </div>
        <div class="btn-next">3000 FCFA</div>
        </div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible</h2>
        <a href="39360622729" class="item-date">MARDI 29 AOUT - 19h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail">
        <div class="photo" style="text-align: left;"><img alt="" src="./images/Ndole.jpg" style="float: none;" /></div>
        <div class="text">
        <h2>Ndole</h2>
        <span class="duree">Time : 1h </span>
        <p class="desc-ate">Traditional center Cameroon food made from peanut sauce and vegetables accompanied by plantains or miondo.</p>
        </div>
        <div class="btn-next">3500 FCFA</div>
        </div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible</h2>
        <a href="35666355721" class="item-date">SAMEDI 5 AOUT - 14h</a> <a href="42347617097" class="item-date">MARDI 22 AOUT - 19h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <div class="item"><!-- DETAIL ATELIER -->
            <div class="detail">
            <div class="photo" style="text-align: left;"><img alt="" src="./images/sanga.jpg" style="float: none;" /></div>
            <div class="text">
            <h2>Sanga</h2>
            <span class="duree">Time : 1h </span>
            <p class="desc-ate">Traditional center Cameroon food made from corn cooked in a sauce with palm nut juice and sugar.</p>
            </div>
            <div class="btn-next">3500 FCFA</div>
            </div>
            <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
            <div class="date">
            <div class="back"><a><i class="leftArrow"></i></a></div>
            <h2>Date disponible</h2>
            <a href="35666355721" class="item-date">SAMEDI 5 AOUT - 14h</a> <a href="42347617097" class="item-date">MARDI 22 AOUT - 19h</a></div>
            <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
            <div class="quantite">
            <div class="back"><a><i class="leftArrow"></i></a></div>
            <h2>Choisissez le nombre de place</h2>
            <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
            </div>
            <!-- FIN QUANTITE --></div>
            <div class="item"><!-- DETAIL ATELIER -->
                <div class="detail">
                <div class="photo" style="text-align: left;"><img alt="" src="./images/Ikok_mixé_et_son_manioc_vapeur.jpg" style="float: none;" /></div>
                <div class="text">
                <h2>Okok</h2>
                <span class="duree">Time : 1h </span>
                <p class="desc-ate">Cameroon Traditional food made from vegetables in peanuts and red oil sauce with cassava.</p>
                </div>
                <div class="btn-next">3500 FCFA</div>
                </div>
                <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
                <div class="date">
                <div class="back"><a><i class="leftArrow"></i></a></div>
                <h2>Date disponible</h2>
                <a href="35666355721" class="item-date">SAMEDI 5 AOUT - 14h</a> <a href="42347617097" class="item-date">MARDI 22 AOUT - 19h</a></div>
                <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
                <div class="quantite">
                <div class="back"><a><i class="leftArrow"></i></a></div>
                <h2>Choisissez le nombre de place</h2>
                <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
                </div>
                <!-- FIN QUANTITE --></div>
                <div class="item"><!-- DETAIL ATELIER -->
                    <div class="detail">
                    <div class="photo" style="text-align: left;"><img alt="" src="./images/roti-de-porc-en-douceurs-d-automne.jpeg" style="float: none;" /></div>
                    <div class="text">
                    <h2>Roast Pork</h2>
                    <span class="duree">Time : 1h </span>
                    <p class="desc-ate">Roast Pork with fried apples.</p>
                    </div>
                    <div class="btn-next">3000 FCFA</div>
                    </div>
                    <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
                    <div class="date">
                    <div class="back"><a><i class="leftArrow"></i></a></div>
                    <h2>Date disponible</h2>
                    <a href="35666355721" class="item-date">SAMEDI 5 AOUT - 14h</a> <a href="42347617097" class="item-date">MARDI 22 AOUT - 19h</a></div>
                    <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
                    <div class="quantite">
                    <div class="back"><a><i class="leftArrow"></i></a></div>
                    <h2>Choisissez le nombre de place</h2>
                    <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
                    </div>
                    <!-- FIN QUANTITE --></div>
    </div> 
    </div>       
</body>
</html>