<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="./css/menu.css">
    <script src="./js/menu.js"></script>
    <title>Restaurant Menu</title>
</head>
<body>
    <div class="container">
        <h1 class="title">Restaurant Menu</h1>
        <ul>
          <li class="dropdown">
            <a href="/coffee" data-toggle="dropdown">Coffee Menu</a>
          </li>
          <li class="dropdown">
            <a href="/starter_Dish" data-toggle="dropdown">Starter Dish Menu</a>
          </li>
          <li class="dropdown">
            <a href="/main_Course" data-toggle="dropdown">Main Course Menu</a>
          </li>
          <li class="dropdown">
            <a href="/dessert" data-toggle="dropdown">Dessert Menu</a>
          </li>
          <li class="dropdown">
            <a href="/fast-food" data-toggle="dropdown">Fast-food Menu</a>
          </li>
        </ul>
      </div>
</body>
</html>