<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/plat.css">
    <script src="./js/plat.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="liste-atelier2"><!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail"><a href="#" class="detail-link">
        <div class="photo" style="text-align: left;"><img alt="" src="https://cdn.shopify.com/s/files/1/1046/1770/t/6/assets/ATELIERPLATEAU.jpg" style="float: none;" /></div>
        <div class="text">
        <h2>Vide poche - 60 €</h2>
        <span class="duree">Durée : 2h </span>
        <p class="desc-ate">Vide poche rectangulaire, vous pourrez personnaliser la forme du vide poche et la couleur (blanc, gris, noir).</p>
        </div>
        <div class="btn-next">Choisir une date</div>
        </a></div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible pour l'atelier lampe</h2>
        <a href="31821113481" class="item-date">MARDI 29 AOUT - 19h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail"><a href="#" class="detail-link">
        <div class="photo" style="text-align: left;"><img alt="" src="https://cdn.shopify.com/s/files/1/1046/1770/t/6/assets/ATELIERJARDINIERE2.jpg" style="float: none;" /></div>
        <div class="text">
        <h2>Jardinière - 60 €</h2>
        <span class="duree">Durée : 2h </span>
        <p class="desc-ate">Jardinière en béton, vous pourrez personnaliser la couleur (blanc, gris, noir).</p>
        </div>
        <div class="btn-next">Choisir une date</div>
        </a></div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible</h2>
        <a href="39360622729" class="item-date">MARDI 29 AOUT - 19h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail"><a href="#" class="detail-link">
        <div class="photo" style="text-align: left;"><img alt="" src="https://cdn.shopify.com/s/files/1/1046/1770/t/6/assets/ATELIERLAMPE.jpg" style="float: none;" /></div>
        <div class="text">
        <h2>Lampe - 100 €</h2>
        <span class="duree">Durée : 2h </span>
        <p class="desc-ate">La lampe en béton droite ou légèrement inclinée, personnalisez la forme, la couleur (blanc, gris, noir) et repartez avec le câble tissé et son ampoule Edison.</p>
        </div>
        <div class="btn-next">Choisir une date</div>
        </a></div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible</h2>
        <a href="35666355721" class="item-date">SAMEDI 5 AOUT - 14h</a> <a href="42347617097" class="item-date">MARDI 22 AOUT - 19h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail"><a href="#" class="detail-link">
        <div class="photo" style="text-align: left;"><img alt="" src="https://cdn.shopify.com/s/files/1/1046/1770/files/IMG_3736_medium.JPG?4641665276975362792" style="float: none;" /></div>
        <div class="text">
        <h2>Desserte en cuivre - 400 €</h2>
        <span class="duree">Durée : entre 3h et 4h </span>
        <p class="desc-ate">Table en cuivre avec plateau en béton. <br /> Dimensions maximales : 0,5 m x 0,5 m et hauteur 0,6m.</p>
        </div>
        <div class="btn-next">Choisir une date</div>
        </a></div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible</h2>
        <a href="31821831305" class="item-date">SAMEDI 5 AOUT - 14h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail"><a href="#" class="detail-link">
        <div class="photo" style="text-align: left;"><img alt="" src="https://cdn.shopify.com/s/files/1/1046/1770/files/image1.JPG?4641665276975362792" style="float: none;" /></div>
        <div class="text">
        <h2>Table basse en cuivre - 600 €</h2>
        <span class="duree">Durée : entre 3h et 4h </span>
        <p class="desc-ate">Table en cuivre avec plateau en béton. <br /> Dimensions maximales : 1 m x 0,5 m et hauteur 0,6m.</p>
        </div>
        <div class="btn-next">Choisir une date</div>
        </a></div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible</h2>
        <a href="29357318793" class="item-date">SAMEDI 5 AOUT - 14h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail"><a href="#" class="detail-link">
        <div class="photo" style="text-align: left;"><img alt="" src="https://cdn.shopify.com/s/files/1/1046/1770/files/atelierplateautable.jpg?8566522502417862875" style="float: none;" /></div>
        <div class="text">
        <h2>Plateau de table - 500 €</h2>
        <span class="duree">Durée : 2h </span>
        <p class="desc-ate">Plateau de table unique et en béton pressé multicolore. <br /> Dimensions maximales : 1 m x 0,6 m.</p>
        </div>
        <div class="btn-next">Choisir une date</div>
        </a></div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible</h2>
        <a href="28545143369" class="item-date">SAMEDI 5 AOUT - 14h</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail"><a href="#" class="detail-link">
        <div class="photo" style="text-align: left;"><img alt="" src="https://cdn.shopify.com/s/files/1/1046/1770/files/ateliertablebasse.jpg?8566522502417862875" style="float: none;" /></div>
        <div class="text">
        <h2>Table basse en bois - 1000 €</h2>
        <span class="duree">Durée : 2h </span>
        <p class="desc-ate">Table en bois avec plateau en béton pressé multicolore. <br /> Dimensions maximales : 1,2 m x 0,8 m et hauteur libre.</p>
        </div>
        <div class="btn-next">Choisir une date</div>
        </a></div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible</h2>
        <a href="35666355721" class="item-date complet">BIENTOT DE RETOUR</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --> <!-- DEBUT ITEM CARTE CADEAU -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail"><a href="#" class="detail-link">
        <div class="photo" style="text-align: left;"><img alt="" src="https://cdn.shopify.com/s/files/1/1046/1770/files/vignette-atelier.jpg?4087096167975478885" style="float: none;" /></div>
        <div class="text">
        <h2>Carte cadeau</h2>
        <span class="duree"></span>
        <p class="desc-ate">Un ami ou un proche fan de Do it Yourself ? Offrez lui une carte cadeau pour participer à nos ateliers !</p>
        </div>
        <div class="btn-next">Choisir un atelier</div>
        </a></div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Carte cadeau disponible</h2>
        <div class="listeCarteCadeau"><a href="26255295433" class="item-carteCadeau">Lampe</a> <a href="26255244489" class="item-carteCadeau">Jardinière</a> <a href="26255634889" class="item-carteCadeau">Vide poche</a> <a href="29357551241" class="item-carteCadeau">Desserte cuivre</a> <a href="29357558665" class="item-carteCadeau">Table basse en cuivre</a> <a href="26255295497" class="item-carteCadeau">Plateau de table</a></div>
        </div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="arrow leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM CARTE CADEAU --> <!-- DEBUT ITEM -->
        <div class="item"><!-- DETAIL ATELIER -->
        <div class="detail"><a href="http://thefrenchvikings.com/pages/contact" class="">
        <div class="photo" style="text-align: left;"><img alt="" src="https://cdn.shopify.com/s/files/1/1046/1770/files/ateliersurmesure.jpg?8566522502417862875" style="float: none;" /></div>
        <div class="text">
        <h2>ATELIER INDIVIDUEL, PROJET SUR MESURE</h2>
        <span class="duree"></span>
        <p class="desc-ate">Vous rêvez de concevoir vous même un meuble d’exception, en bénéficiant de nos conseils, et savoir faire.</p>
        </div>
        <div class="btn-next">Nous consulter</div>
        </a></div>
        <!-- FIN DETAIL ATELIER --> <!-- CHOIX DATE -->
        <div class="date">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Date disponible pour l'atelier lampe</h2>
        <a href="35666355721" class="item-date complet">MARDI 11 JUILLET</a> <a href="39360555721" class="item-date">SAMEDI 29 JUILLET</a></div>
        <!-- FIN DATE --> <!-- CHOIX QUANTITE -->
        <div class="quantite">
        <div class="back"><a><i class="leftArrow"></i></a></div>
        <h2>Choisissez le nombre de place</h2>
        <div class="liste-quantite"><a href=":1">1</a> <a href=":2">2</a> <a href=":3">3</a> <a href=":4">4</a> <a href=":5">5</a> <a href=":6">6</a> <a href=":7">7</a> <a href=":8">8</a> <a href=":9">9</a> <a href=":10">10</a></div>
        </div>
        <!-- FIN QUANTITE --></div>
        <!-- FIN ITEM --></div>
        </div>
        <div class="clear"></div>
        
</body>
</html>