<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/user.css">
    <title>Dashboard User</title>
</head>
<body>
  <div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
      <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
        <div class="sidebar-brand">
          <a href="#">Dashboard</a>
          <div id="close-sidebar">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <!-- sidebar-header  -->
        <div class="sidebar-search">
          <div>
            <div class="input-group">
              <input type="text" class="form-control search-menu" placeholder="Search...">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- sidebar-search  -->
        <div class="sidebar-menu">
          <ul>
            <li class="header-menu">
              <span>General</span>
            </li>
            <li>
                <a href="/booking">
                  <i class="fa fa-folder"></i>
                  <span>Booking</span>
                </a>
              </li>    
            <li>
              <a href="/ordering">
                <i class="fa fa-calendar"></i>
                <span>Ordering</span>
              </a>
            </li>        
            <li>
              <a href="/menu">
                <i class="fa fa-calendar"></i>
                <span>Menu</span>
              </a>
            </li>           
            <li>
              <a href="/chat">
                <i class="fa fa-calendar"></i>
                <span>Chat</span>
              </a>
            </li>     
            <li>
              <a href="/logout">
                <i class="fa fa-calendar"></i>
                <span>Logout</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- sidebar-wrapper  -->
    <main class="page-content">
        <div class="container">
          <h2>Pro Sidebar</h2>
          <hr>
          <div class="row">
            <div class="form-group col-md-12">
              <p>This is a responsive sidebar template with dropdown menu based on bootstrap 4 framework.</p>
              <p> You can find the complete code on <a href="https://github.com/azouaoui-med/pro-sidebar-template" target="_blank">
                  Github</a>, it contains more themes and background image option</p>
            </div>
            <div class="form-group col-md-12">
              <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=star&count=true&size=small" frameborder="0" scrolling="0" width="90px" height="30px"></iframe>
              <iframe src="https://ghbtns.com/github-btn.html?user=azouaoui-med&repo=pro-sidebar-template&type=fork&count=true&size=small" frameborder="0" scrolling="0" width="90px" height="30px"></iframe>
            </div>
            <div class="form-group col-md-12">
              <div class="alert alert-success" role="alert">
                <h4 class="alert-heading">New !</h4>
                <p>New react pro sidebar library is now available on <a href="https://www.npmjs.com/package/react-pro-sidebar" target="_blank">npm</a> <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank">
                    <img alt="GitHub stars" src="https://img.shields.io/github/stars/azouaoui-med/react-pro-sidebar?style=social" />
                  </a></p>
                <a href="https://github.com/azouaoui-med/react-pro-sidebar" target="_blank" class="btn btn-sm btn-primary mr-2">
                  Github</a>
                <a href="https://azouaoui-med.github.io/react-pro-sidebar" target="_blank" class="btn btn-sm btn-success">
                  Demo</a>
    
              </div>
    
            </div>
          </div>    
    <!-- page-content" -->
  </div>
  <!-- page-wrapper -->
  <script
    src="http://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous">
  </script>    
  <script src="/socket.io/socket.io.js"></script>
  <script>            
    var socket = io.connect('http://localhost:8080');        
  </script>
  <script src="./js/user.js"></script>
</body>
</html>
